
/* layouts/application.html.erb　レスポンシブ*/
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
}

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
}

@media screen and (max-width: 327px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
}


.pagination {
  justify-content: center;
}

/* posts/index*/
.row row-cols-md-3 {
    width: 348px;
    text-overflow: ellipsis;
    margin: 0px 0px 0px 0px;
}

.card {
    margin-top: 20px;
    
}
 
.card-text {
    width: 220px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 3px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    text-align: center;
}

.card-title {
    width: 220px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding: 3px;
    color:#FF5192;
}

.card-subtitle  {
    width: 220px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding: 3px;
}

.card-subtitle  {
    width: 220px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding: 3px;
}

/*背景色*/
body {
  background-color: #ffffff;
}

/* posts/index*/

.card {
    margin-left: auto;
    margin-right: auto;
    
    color: #000000;
    border: #323232 solid 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 6px 0 
      rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.card:hover {
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-5px);
      cursor: pointer;
    }
    

/* ナビゲーション*/
.navbar-brand {
    font-family: "Arial Black";
    font-size: 1.5em;
    color: "#000000";
}

.nav-link {
    font-color: "#FFFFFF";
    font-weight: bold;
}







/* ログインフォーム */


.rog {
  text-align:right;
  width: 100%;
  height: 137%;
  margin-left:50px;
  border: 4px solid;
  border-right: 1px solid;
  border-color: #BBBBBB;
  box-shadow: 0px 6px #AAAAAA
  
}

.img-1 {
  text-align:right;
  width:500px;
  height:580px;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.img-1 {
display:none; /*非表示*/
}
}




.form-group {
  width:480px;
  text-align:left;
  margin-left:10px;
  margin-top:30px;
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.form-group {
  width: 90%;
  margin-left: 5%;
  margin-top: 0px;
  text-align: center;
}
}

.form-control input{
  text-align:center;
  width:480px;
  margin-left:85px;
  margin-right:15px;
 border-bottom: 2px solid #c0c0c0;
  outline: none;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.form-control input {
  text-align:center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}
}



.container {
  justify-content: center;
}

.actions {
  width:300px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}

.text-box {
  text-align:center;
  width: 500px;
  height: 800px;
  margin-left:90px;
  font-family: 'Open Sans', sans-serif;
  border: 4px solid;
  border-color: #BBBBBB;
  box-shadow: 6px 6px #AAAAAA
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.text-box {
width: 100%;
margin-left: 0px;
}
}



.text-center {
  text-align:right;
}
.btn {
  width:300px;
  text-align:center;
   background: #FF88FF;
   margin-left:100px;
   margin-bottom: 20px;
   margin-top: 45px;
   font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.btn {
   width: 50%;
   text-align:center;
   background: #FF88FF;
   margin-left: 70px;
   margin-bottom: 20px;
   margin-top: 45px;
   font-family: 'Open Sans', sans-serif;
}
}

.h1 {
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
}

/* 登録フォーム */

.img-2 {
  text-align:right;
  width:500px;
  height:695px;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.img-2 {
display:none; /*非表示*/
}
}

.text-box-1 {
  text-align:center;
  width: 500px;
  height: 950px;
  margin-left:90px;
  font-family: 'Open Sans', sans-serif;
  border: 4px solid;
  border-color: #BBBBBB;
  box-shadow: 6px 6px #AAAAAA
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.text-box-1 {
width: 100%;
margin-left: 0px;
}
}

.container {
  justify-content: center;
}

.actions {
  width:300px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}



.text-center {
  text-align:right;
}



.h1 {
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
}



/* 投稿編集フォーム */
.row- {
  border: 4px solid;
  border-color: #BBBBBB;
  box-shadow: 6px 6px #AAAAAA
}

.y {
  text-align: center;
}

.form-group0 {
  width:550px;
  text-align:center;
  margin-right:100px;
  margin-top:18px;
  outline: none;
  background-color:#BAD3FF;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.form-group0 {
  width: 100%;
  text-align:center;
  margin-right:0px;
  margin-top: 10px;
  outline: none;
  background-color:#BAD3FF;
}
}

.y1 {
  margin-right:150px;
  margin-top: 0px;
}

/* 新規投稿フォーム */



.label{
	
	margin-right: 15px;
	width:100px;
	border-left: solid 3px #FF6701;
	padding-left: 10px;
	
}
	
.form-groupp {
  width:90%;
  text-align:left;
  margin-left:10px;
  margin-top:20px;
  border-bottom: 2px solid #c0c0c0;
  outline: none;
  
}

.form-groupt {
  width:90%;
  text-align:left;
  margin-left:10px;
  margin-top:20px;
  border-bottom: 2px solid #c0c0c0;
  outline: none;
  
}

.card-body-1 {
  width: 100%;
}

.card-img-top-1 {
  width:450px;
  height:550px;
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.card-img-top-1 {
  width:100%;
  height:400px;
}
}


p.card-text-5 {
   height: 8em;     
   overflow: scroll;  /* スクロールバーを表示(※) */
   border: #999999 1px;   
   background-color: #EEEEEE; 
}

h4.card-title-1 {
  height: 2em;     
   overflow: scroll;  /* スクロールバーを表示(※) */
   border: #FFAAFF 1px;   
}




.a {
  
  text-align:center;
   font-family: 'Open Sans', sans-serif;
}


/* ユーザーSHOW *//* ユーザーSHOW *//* ユーザーSHOW *//* ユーザーSHOW */
.fo {
  margin-top:30px;
  
}

.form-groupa {
  margin-top:30px;
  margin-left:15px;
  
}

.ro {
  width:800px;
  margin-left:150px;
  
}

.nav {
  margin-left: 400px;
  margin-top: 30px;
}

.row-1 {
  display:flex;
  margin-left: 70px;
  
}

.o {
  border: 4px solid;
  border-color: #BBBBBB;
  box-shadow: 6px 6px #AAAAAA
}

.o h1 {
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}

/* ユーザー/SHOW */
.col-md-3 {
  display: inline-block; 
 
}

.h1 {
  text-align:center;
  margin-top: 3%;
}

.form {
  text-align:center;
  border: 4px solid;
  border-color: #BBBBBB;
  box-shadow: 6px 6px #AAAAAA
}

.card-title3 {
  text-align:center;
  margin-top:2%;
  margin-bottom:3%;
}

.label2{
	
	width:10%;
	border-bottom: solid 3px #FF6701;
}

.card-body {
  text-align: left;
}



/* 1.親スタイルリセットとペース設定 ++++++++++ */
.slider-box p, .slider-box div, .loop-box ul, .loop-box li {
  box-sizing: border-box; margin: 0 !important; padding: 0 !important;
}

/* 2.ベースBOXの設定 +++++++++++++++++++++ */
.slider-box {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%; /* 画面又は親要素に対するサイズ - 変更可 */
  background: #333; /* 背景色 - 変更可・削除可 */
  border: solid 5px #ccc; /* 囲み線 - 変更可・削除可 */
  margin: 0 auto; /* Box外の余白 - 変更可 */
  padding: 10px 0 0; /* 上端からスライダーまでの距離 - 変更可・削除可 */
}

/* 3.チェックボックスを利用した停止・再生などの設定 +++++++++++++++++ */
.slider-check {
  display: none;
}
.slider-check:checked ~ .loop-box > .loop {
  animation-play-state: paused;
}
.slider-label {
  display: block;
  cursor: pointer;
  color: #fff; /* 文字色 - 変更可 */
  font-size: 24px; /* 文字サイズ - 変更可 */
  line-height: 2; /* ボタン部分の高さ - 変更可 */
  text-align: center;  
}


/* 4.スライダー本体とアニメーションの基本設定 ++++++++++++++ */
.loop-box{
  position: relative;
  width: 100%;
  overflow: hidden; 
}
.loop-box, .loop-box ul {
  height: 400px; /* スライダーの高さ - 変更注意 */
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxの場合に適用*/
.loop-box, .loop-box ul {
  height:200px;
}
}


.loop-box ul {
  position: absolute; left: 0; top: 0;
  display: flex; 
  justify-content: space-between;
  background: #000; /* スライダーの背景色 - 変更可 */
  list-style: none;
  max-width: 10000%; 
  min-width: 100%;
  width: calc(300px * 1.5 * 3); /* 画像の横幅×枚数 - 変更注意・変更可・変更注意 */
  animation: 15s linear infinite; /* アニメーション設定 - 変更可 */
}
.loop-box li {
  display: flex;
  align-items: center; 
  justify-content: center;
  color: #fff;
  width: calc(100% / 3); /* li の幅を均等にする - 削除可・変更注意 */
}
.loop-box img {
  height: 95%;
  width: 100%;
}

/* 5.アニメーション個別設定 ++++++++++ */
.loop-box ul.loop1 {
  animation-name: loop1;
}
.loop-box ul.loop2 {
  animation-name: loop2;
}
@keyframes loop1 {
  0% {transform: translateX(0); }
  49.99999% {transform: translateX(-100%); }
  50% {transform: translateX(100%); }
}
@keyframes loop2 {
  0% {transform: translateX(100%); }
  100%{transform: translateX(-100%); }
}